{% extends "base.html" %} 
{% load static %} 

{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %} 

{% block content %}
<div class="container h-100">
  <div class="row h-100">
    <div class="col-9 col-md-7 mt-auto">
      <h1 class="display-4 logo-font text-white">
        Pot to Pot: <br>
        From the Ocean to Your Plate.
      </h1>
      <div class="my-5">
        <h4>
          <a
            href="{% url 'products' %}"
            class="shop-now-button btn btn-lg rounded-5 text-uppercase py-3"
            >Shop Now</a
          >
        </h4>
      </div>
    </div>
    <div class="col-12 col-md-9 my-auto home-info">
      <p class="text-end">
        Fresh, local seafood straight from the Connemara coast. 
        <br>
        Sustainably caught, carefully prepared, and delivered with a personal touch. 
        <br>
        Join us on the water and bring the taste of the Atlantic home.
      </p>
    </div>
  </div>
</div>
{% endblock %}
