html {
    height: 100%;
}

body {
    background: url('/media/homepage_background_cropped.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Lato';
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.banner-font {
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: 3px;
}

.main-logo-link {
    width: fit-content;
}

/* ------------------------------ Buttons */

.shop-now-button {
    background: #0d0d0d;
    color: white;
    min-width: 260px;
}

.complete-button {
    margin-left: 5px;
    margin-right: 15px;
}

.btn-black {
    background: #0d0d0d;
    color: white;
}

.btn-outline-black {
    background: white;
    color: black !important; /* use important to override link colors for <a> elements */
    border: 1px solid #0d0d0d;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: #0d0d0d;
    color: white !important;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #0d0d0d;
    color: white;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid #0d0d0d !important;
}

.bg-black {
    background: #0d0d0d !important;
}

.bg-transparant {
    background: #0f1d1e96;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: #f3f3f3;
	z-index: -1;
}

.overlay-transparant {
    height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: #0f1d1ebf;
	z-index: -1;
}

.fixed-size-img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

/* ------------------------------- custom Styles Checkout Page */

#payment-form {
    background: #c2d6d6; 
    border-radius: 5px; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
    backdrop-filter: blur(5px);
    max-width: 800px;
    margin: 15px auto;
    padding: 5px;
}

/* ------------------------------- custom Styles About Page */

.top-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    max-height: 700px;
    overflow: hidden;
}

/* ------------------------------- custom Styles Contact Page */

.top-contact-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.top-contact-image {
    object-fit: cover;
    height: auto;
    max-height: 350px;
    max-width: 100%;
    display: block;
}

.contact-form-container {
    background: #ffffffcc; 
    border-radius: 5px; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
    backdrop-filter: blur(5px);
    max-width: 800px;
    margin: 0 auto;
}


/* ------------------------------- Styles for Footer */
.footer-container {
    background-color:#ffffffcc;
    color: #252525;
    max-width: 100%;
    margin-top: 20px;
    border-top: 1px solid #c3c3c3;
}

.footer-logo a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1.5rem;
    letter-spacing: 1px;
    color: #252525;
    padding: 10px;
}

.footer-logo a:hover {
    color: #c7c7c7;
    font-weight: bolder;
}


/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}

@media (min-width: 991px) {
    .custom-justify {
        justify-content: center;
    }
}