{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}
   

{% block content %}
<div class="overlay"></div>
    <hr>
        <div class="container mt-5">
            <div class="row mb-4">
                <!-- Title -->
                 <div class= "col-12">
                    <h2 class="h2-buy mb-4 mt-2">{{ buy_in_person.title }}</h2>
                 </div>

                 <!-- Content -->
                <div class="col-md-6 order-1">
                    {% if no_buy_in_person_content %}
                        <p>No buy in person content available</p>
                        {% else %}        
                        <div>
                            {{ buy_in_person.content | safe }}
                        </div>
                    {% endif %}
                    
                    <!-- Partner Shops List -->
                    <div class="row mt-5">
                        <div class="col-12 mb-3">
                            <h3 class="mb-3">Our Partner shops:</h3>
                            <ul class="list-unstyled partners">
                                {% for shop in partner_shops %}
                                    <li class="mb-2">
                                        <a href="{{ shop.website }}" target="_blank" rel="noopener noreferrer">
                                            {{ shop.name }}
                                        </a>
                                    </li>
                                {% empty %}
                                    <p>No partner shops available at the moment.</p>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- Image -->
                <div class="col-md-6 order-2 text-center">
                    <div class="top-image-container">
                        {% if "placeholder" in buy_in_person.profile_image.url %}
                        <img src="{% static 'images/buy_in_person.jpg' %}" class="top-image" alt="placeholder image">
                        {% else %}
                        <img src="{{ buy_in_person.profile_image.url }}" class="top-image" alt="{{ buy_in_person.title }}">
                        {% endif %}
                    </div>
                </div>
            </div>

        </div>
{% endblock content %}