{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}
   

{% block content %}
<div class="overlay"></div>
    <hr>
        <div class="container mt-5">
            <div class="row mb-4">
                <!-- Title -->
                 <div class= "col-12">
                    <h2 class="h2-about mb-4 mt-4">{{ about.title }}</h2>
                 </div>

                 <!-- Content -->
                <div class="col-md-6 order-1">
                    {% if no_about_content %}
                        <p>No about content available</p>
                        {% else %}        
                        <div>
                            {{ about.content | safe }}
                        </div>
                    {% endif %}
                    <hr>
                    <!-- Updated date -->
                    <div class="row mt-3">
                        <div class="col-12">
                        <p class="text-end"><em>Updated on: {{ about.updated_on }}</em></p>
                        </div>
                    </div>
                </div>

                <!-- About Image -->
                <div class="col-md-6 order-2 text-center">
                    <div class="top-image-container mt-2">
                        {% if "placeholder" in about.profile_image.url %}
                        <img src="{% static 'images/about.jpg' %}" class="top-image" alt="placeholder image">
                        {% else %}
                        <img src="{{ about.profile_image.url }}" class="top-image" alt="{{ about.title }}">
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
{% endblock content %}